/* General Navbar Styling */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2A209F;
}

.nav-content {
  display: flex;
  align-items: center;
}

.logo img {
  position: relative;
  bottom: 3rem;
  width: 90px;
  height: auto;
  border-radius: 4px;
}

/* Links for desktop */
.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #FFC107;
}

/* Mobile Menu Button */
.navBtn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: none; /* Hidden by default on desktop */
}

/* Mobile Navigation */
.navPhone {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #2A209F;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.navPhoneComes {
  transform: translateX(0);
}

.navPhone .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.navPhone .nav-links a {
  margin: 20px 0;
  font-size: 24px;
  color: white;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none; /* Hide desktop links */
  }

  .navBtn {
    display: block; /* Show mobile menu button */
  }
}
